{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block app_content %}
<h1>Bienvenidos a la Trivia</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src = '{{ url_for("static", filename = "images/trivia.jpg") }}' width="165" height="125" />
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('public.mostrarcategorias') }}" class="btn btn-primary btn-block btn-lg" role="button">Comenzar a jugar</a>
        </div>
        <div class="col-md-3">
            <img src = '{{ url_for("static", filename = "images/trivia.jpg") }}' width="165" height="125" />
        </div>
    </div>
</div>
{% endblock %}
