{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block app_content %}
	<h1>Seleccione una Categoria</h1>
	<br>
	<div class="container">
		{% for categoria in categorias %}
    	<div class="row">
        	<div class="col-md-12">
				<h3><a href="/trivia/{{categoria.id}}/pregunta">{{categoria.descripcion}}</a></h3>
			</div>
		</div>
		{% endfor %}
	</div>
	<hr>
	<br>
{% endblock %}
