{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block app_content %}
<h1>Su última respuesta es correcta! Gano!</h1>
<br>
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <img src = '{{ url_for("static", filename = "images/winner1.gif") }}' width="240" height="135" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            El tiempo total de la jugada fue:
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ session['tiempo_total'] }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h3>Mejores jugadores:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
                <table border="1" align="center">
                    <tr>
                        <td>Tiempo de Juego</td><td>Nombre usuario</td>
                    </tr>
                    {% for m in mejores %}
                        <tr>
                            <td>{{ m.tiempo_juego }}</td><td>{{ m.usuario.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" align="center">
            <a href="{{ url_for('public.index') }}" class="btn btn-primary btn-lg" role="button">Iniciar el Juego nuevamente</a>
        </div>
    </div>
</div>
{% endblock %}