{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block app_content %}
    <h1>Categoría {{categoria.descripcion}}</h1>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>{{pregunta.text}}</h3></div>
    </div>
    <br>
    {% for r in respuestas_posibles %}
        <div class="row">
            <div class="col-md-12">
                <h3>
                <a href="/trivia/{{categoria.id}}/{{pregunta.id}}/respuesta/{{r.id}}">{{r.text}}</a>
                </h3>
            </div>
        </div>
    {% endfor %}
</div>
<br>
{% endblock %}
