{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}
{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>RESPUESTA: {{message}}</h1></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12"><h3><a href="{{ url_for('public.mostrarcategorias') }}">Volver a Categorias</a></h3></div>
    </div>
</div>
{% endblock %}
