footer{
  background-color: black;

}
h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

footer ul{
  list-style: none;
  color:white;
  padding:15px;
}

footer a, footer a:hover, footer a:visited{
  color:white;
}

footer p{
  padding:15px;
  color: white;
}
