{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1>Login</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {{ wtf.quick_form(form, method="post", form_type="horizontal", horizontal_columns=('lg', 1, 3)) }}
    <a href="{{ url_for('auth.register') }}">¿No estás registrado?</a>
{% endblock %}


