{% extends "base.html" %}
{% block head %}
    {{ super() }} {# Heredar el contenido del bloque padre #}
{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Registro de usuario</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {{ wtf.quick_form(form, method="post", form_type="horizontal", horizontal_columns=('lg', 1, 3)) }}
<!-- form viejo:
    <form action="" method="post">
        {{ form.hidden_tag() }}<p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %} </p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %} </p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.is_admin() }} {{ form.is_admin.label }}</p>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
-->
{% endblock %}