<!DOCTYPE html>
<html lang="es">
{% extends "bootstrap/base.html" %}
  <head>
<meta charset="UTF-8">
    {% block head %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Trivia</title>
    {% endblock %}
</head>
<body>
{% block content %} <!-- bloque que necesita bootstrap, y que debe llamarse content -->
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" href="#">Trivia - Juego Online</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('public.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           {% if current_user.is_authenticated  %}
             <span class="navbar-text">Hola {{ current_user.name }}</span>
             <li class="nav-item active">
            <a class="nav-link" href="{{url_for('auth.logout') }}">Cerrar sesión</a>
            </li>
           {% else %}
                <a class="btn btn-info" href="{{url_for('auth.login') }}" >Iniciar sesion</a>
                <a class="btn btn-info" href="{{url_for('auth.register') }}" >Registrarse</a>
           {% endif %}
         </li>
       </ul>
   </div>
</nav>
<br>
{% block app_content %}{% endblock %} <!-- bloque que completaran mis otras paginas que heredan de base.html -->
{% endblock %} <!-- FIN del bloque que necesita bootstrap -->